<div style="width:100%;padding: 0 12px;position: relative;font-size: 8px;">
    <div>
        <p style="text-align: center;font-weight:600;margin-bottom:5px;">{{organization_name}}</p>
        <p style="text-align: center;width: 60%;margin: 5px auto 0;">{{orgAddress}}</p>
        <div style="color: #dcdcdc;margin-top: 20px;font-size: 7px;">
            <span style="margin-right: 8px;">© {{organization_name}}</span>
            <span style="margin-right: 8px;">{{time}}</span>
            <span">User : Admin</span>
        </div>
    </div>
    <img style="position: absolute;top: 50%;transform: translateY(-50%);right: 12px;width: 70px;display: block;" src="{{QRcode}}" alt="">
</div>